node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
*.md
.editorconfig
.prettierignore
.prettierrc
.eslintignore
.eslintrc.json
tsconfig.json
jest.config.js
.devcontainer
.vscode
.idea
*.log
logs
.DS_Store
.github/workflows
